{% extends "BookBundle::layout.html.twig" %}

{% block body %}
    <h1>Submit your book</h1>
    <input type="hidden" class="googlePathUrl" value="{{ (path("rs_googleapi_get")) }}" />
    <label>
        Pre-populate from title of your book?
        <input type="checkbox" class="apiCheck" />
    </label>
    {{ form(form) }}
{% endblock %}