{% extends "BookBundle::layout.html.twig" %}

{% block title %}
    {{ review.reviewTitle }}
{% endblock %}

{% block body %}
    <h1>Editing {{ review.reviewTitle }}</h1>
    {{ form(form) }}
{% endblock %}