{% extends "BookBundle::layout.html.twig" %}

{% block body %}
    {% if talks|length > 0 %}
        {% for talk in talks %}
            <p>{{ talk.talk_title }}</p>
        {% endfor %}
    {% else %}
        <p>This event has no talks</p>
    {% endif %}
{% endblock %}