{% extends "ReviewStarBookBundle::layout.html.twig" %}
{% block body %}
    <h1>List of all registered users</h1>
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>User</th>
                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SITE_ADMIN") %}
                    <th>Roles</th>
                    <th>Configuration</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <a href="{{ path('rs_user_view', {'id': user.id}) }}">{{ user.username }}</a>
                        {% if user.hasRole('ROLE_ADMIN') or user.hasRole('ROLE_SITE_ADMIN') %}
                            <span class="label label-primary">Administrator</span>
                        {% elseif user.hasRole('ROLE_MOD') %}
                            <span class="label label-warning">Moderator</span>
                        {% elseif user.hasRole('ROLE_USER_ADMIN') %}
                            <span class="label label-success">User admin</span>
                        {% elseif user.hasRole('ROLE_BOOK_ADMIN') %}
                            <span class="label label-default">Book admin</span>
                        {% endif %}
                    </td>
                    {% if is_granted(privileges_user) %}
                        <td>
                            <ul>
                                {% for role in user.roles %}
                                    <li>{{  role }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href="{{ path('rs_user_edit', {'id': user.id}) }}">Edit this user</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}