{# src/Blogger/BlogBundle/Resources/views/Blog/create.html.twig #}
{% extends "::base.html.twig" %}

{% block title %}Create a post{% endblock %}

{% block body %}
<h1>Blog post </h1>
    {{ form(form) }}
{% endblock %}
